
@{
    ViewData["Title"] = "Index";
}
<body>
    <header id="mountain-index1">
        <div class="container-fluid">
            <h1>Mountaineering</h1>
            <h3><strong>What is it?</strong></h3>
            <div class="col-md-5">
                <p id="mountain-p">
                    The most difficult, most grueling, most dangerous form of climbing is mountaineering. This is not for the faint of heart.
                    High altitude, bitter cold and howling winds are regarded as a normal day on most high peak mountains. Other dangers include
                    avalanches, rock slides, unpredictable weather, solar radiation, crevasses, altitude sickness and any number of variables.
                    Mountaineering gained world fame in the 1800's, what is now known as the Golden Age of Alpinism.
                    The himalayas were the last frontier for modern alpinism with Mount Everest being summited
                    on May 29th, 1953 by the duo team of Sir Edmund Hillary and Tenzing Norgay. Mountaineering demands dedication, uncompromised
                    knowledge, sharp technical skills, an extreme sense of adventure and a will power to conquer the unconquerable. 
                </p>
            </div>
        </div>
    </header>
</body>