
@{
    ViewData["Title"] = "index";
}
<body>
    <header id="bouldering-index1">
        <div class="container-fluid">
            <h1>Bouldering</h1>
            <h3><strong>What is it?</strong></h3>
            <div class="col-md-5">
                <p id="bouldering-p">
                    Bouldering is a form of rock climbing where the climber is interacting with small rock formations and boulders.
                    Bouldering started around the mid to late 70's in the infamous Camp 4 in Yosemite Valley as a way for the climbers to stay in shape
                    on rest days or bad weather days, with the first noteable boulder problem being the ultra classic Midnight Lightning. Many other boulders
                    were found and climbed previous to Midnight Lightning in areas like Fontainebleau, but many people hail the bouldering in Camp 4 as the start of
                    what we know now as bouldering. Bouldering is quite short in height, usually no more than 15 feet to the top of a climb, because
                    climbers do not use a harness, rope and other safety gear like that. What is used for bouldering safety are large padded matts known as crash
                    pads.
                </p>
            </div>
        </div>
    </header>
</body>