
@{
    ViewData["Title"] = "Index";
}
<body>
    <header id="trad-index1">
        <div class="container-fluid">
            <h1>Traditional</h1>
            <h3><strong>What is it?</strong></h3>
            <div class="col-md-5">
                <p id="trad-p">
                    Traditional Climbing, normally shortened to just "trad", is the big show. This is a leave-no-trace style of climbing
                    where the climber uses gear such as stoppers, wedges, spring-loaded camming devices and many many other devices. Trad 
                    climbing can be single-pitch, multi-pitch or more famously big wall climbing. To those of us in the United States, trad 
                    climbing brings back images of the old school days from the 50's and 60's in Yosemite Valley where people like Royal Robbins 
                    and Warren Harding carved there own way through the giant granite monoliths like Half Dome and El Capitan. Traditional climbing 
                    is still held in very high regard as it takes a high level of dedication and knowledge to more safely navigate your way around all 
                    the miniscule details.
                </p>
            </div>
        </div>
    </header>
</body>