
@{
    ViewData["Title"] = "index";
}

<body>
    <header id="sport-index1">
        <div class="container-fluid">
            <h1>Sport Climbing</h1>
            <h3><strong>What is it?</strong></h3>
            <div class="col-md-5">
                <p id="sport-p">
                    Sport climbing...where to begin. Sport climbing saw a huge gain in popularity in the late 80's and into the 90's, much to the
                    avail of the old school climbers around in those days. The idea behind sport climbing was, and still is, to climb sections of rock
                    unable to be climbed with in the traditional style of climbing. Utilizing bolts that are drilled or glued into the rock, climbing in this
                    style allows a climber to have a fairly low commitment level as far as how much gear in required. All a climber needs to go sport climbing
                    is a harness, rope and a handful of quickdraws. To the dismay of many traditional style climbers, sport climbing has quickly
                    garnered a large following in the climbing community, leaving many popular climbing areas trampled and extremely busy on long weekends.
                    With this high profile popularity, many local areas have Climbing Coalitions to ensure continued access and continued cleanup of these areas.
                </p>
            </div>
        </div>
    </header>
</body>